
header h1{
    color: white;
    background-color: red;
    font-family: Comic sans-serif;
    font-size: 30PT;
}

img{
    width: 50%;
    height: 100%;
}

section{
    width: 250px;
    height: 100px;
    background-color: blueviolet;
    font-size: 20pt;
    margin-left: 400pt;
}

p.destacada{
    font-size: 15pt;
    color: green;
    font-style: oblique;
    text-decoration: underline;
}